 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem;
  } 

  .popupSection {
padding-top: 2rem;                 
padding-bottom: 2rem;
  }


  .popupButtons{
    display :flex;
    justify-content: space-evenly;
    margin-top: 3rem;


  }

  .twoColumns {
    grid-column: span 2 ;

  }
  .interventionTitle {
    display: flex;
    gap: 2rem;
    align-items: center;

  }

  .btnPlus{
    padding: 0.5rem 1rem ;
  }

  .table{
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: var(--radius);
    padding: 1rem;
    margin: 1rem 0;
    td {
      padding: 0.5rem 0;
    }

    th{
      text-align: left;
     color: var(--secondary-color);
     font-weight: bold;
     font-size: 0.9rem;
    }
  }