*{
  margin: 0;
  padding: 0;
  /* display: block; */
  border: 0;
  font-size: 100%;
  font:inherit;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color :var(--text-color);


}
body{
  background-color: var(--background-color);
  overflow-x: hidden;
}
:root {
  --primary-color :#3763AD;
  --secondary-color :#F39336;
  --text-color : #545461 ;
  --background-color :#F8F9FA;
  --inactive-color : #868686;
  --warning-color :  #ffc107;
  --error-color: #dc3545;
  --success-color : #198754;
 --radius : 10px;
 --active-menu-item-bg-color : rgba(243, 147, 54, 0.35);
 
/* Data grid styling customizing */
--ag-header-background-color: white;
--ag-header-height: 3.5rem;
--ag-row-height: 3.3rem; 
--ag-background-color: white;
--ag-border-color: none;

}

body{
  background-color: var(--background-color);
  
}
.title {
    color: var(--primary-color);
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0.5rem;}

    
button{
  padding: 1rem 2rem;
  border-radius: var(--radius);
  background-color: var(--primary-color);
  color : var(--background-color);
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}

input[type=email], input[type=password], input[type=text], input[type=tel], input[type=date]{
  padding : 0.5rem 0.5rem;
  width:100%;
  border-radius: var(--radius);
  background-color: rgba(243,147,54,0.2);
}
input:focus{
  outline: solid 2px var(--primary-color);
}

input::placeholder{
  color: var(--inactive-color);
  font-size: small;
}

.inputCheckbox{
display:flex;
align-items:center ;
}

.contentPadding{
  padding: 1rem;
}


select{
  padding : 0.5rem 0.5rem;
  width:100%;
  border-radius: var(--radius);
  background-color: rgba(243,147,54,0.2);
}

label {
  display : block;
  margin-bottom: 0.2rem;
  margin-left: 0.4rem;
}

/* grid styling */
.ag-header-cell-text {
  font-weight: bold;
  color: var(--secondary-color);

}
.ag-cell-value {
  color: black;
}

.ag-row{
  border-bottom: none;
  
}
.ag-row::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 1%;
  width: 98%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.217);
}
.ag-input-field-input, .ag-text-field-input{
  padding-left: calc(var(--ag-spacing) * 1.5 + 12px)!important;

}
.ag-cell-value, .ag-group-value{
font-size: 12px;
}
.ag-row-hover{
  background-color: var(--active-menu-item-bg-color);
}
